@import url('https://fonts.googleapis.com/css2?family=Alegreya&display=swap');

html { 
    margin: 0;
	padding: 0;
    background: url(https://drive.google.com/file/d/13GtqNr_XuSRR3V_NAWSgKCieXV7KkouC/view?usp=sharing) repeat;
    background-size: contain;
    font-family: 'Alegreya', sans-serif;
    font-size: 16px;
    color: rgb(35, 69, 0);
}

body {
    max-width: 1000px;
    width: 100%;
    margin: auto;
    box-sizing: border-box;
    background-color: #bfea82;
    padding: 10px 20px; 
}
h1{
    text-align: center;
    font-size: 60px;
    font-style: bold;
    color: rgb(35, 69, 0);
    grid-area: inherit;
    background: rgb(217, 252, 204);
}
h2{
    text-align: center;
    font-size: 30px;
    color: orangered;
}
h3{
    text-align: center;
    color: orangered;
    grid;
    background: rgb(217, 252, 204);

}
a{
    color: rgb(169, 59, 199);
    text-decoration: none; 
    font-weight: bold; 

}
a:hover{
    color: rgb(216, 76, 255); 
    text-decoration: underline; 
}
.summary{
    text-align: center;
    background-color: #c7ffa7;
    font-size: 20px;
    
}

li{
    list-style-type: square;
}
}